.Circle {
  transform-box: fill-box;
  transition-duration: 0s;
  transform-origin: center;
  @apply pointer-events-none origin-center transform-gpu select-none stroke-slate-700 transition-all ease-linear;
}
